<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{ uav }}
    </p>
    <a class="card-header-icon" title="Simuler le vol de ce drone">
      <span class="icon" id="simulate-{{ uav.licence }}">
        <i class="fa fa-paper-plane"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <p>Immatriculation: {{ uav.licence }}</p>
      <p>Fabricant: {{ uav.manufacturer }}</p>
      <p>Modèle: {{ uav.model }}</p>
      <p>Poids: {{ uav.weight }} g</p>
      <p>Avec caméra/appareil photo: {% if uav.video %}oui{% else %}non{% endif %}</p>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">Voir</a>
    <a class="card-footer-item">Modifier</a>
    <a class="card-footer-item">Supprimer</a>
  </footer>
</div>

<script type="text/javascript">
var watchPositionIds = {};

document.querySelector('#simulate-{{ uav.licence }}').onclick = function (event) {
  var button = event.target.parentNode;
  var icon = button.querySelector('.fa');
  if (button.dataset.active === 'true') {
    navigator.geolocation.clearWatch(watchPositionIds['{{ uav.licence }}']);
    button.dataset.active = false;
    icon.classList.remove("fa-paper-plane-o");
  } else {
    button.dataset.active = true;
    icon.classList.add("fa-paper-plane-o");
    watchPositionIds['{{ uav.licence }}'] = navigator.geolocation.watchPosition(function(position) {
      var data = {
        lon: position.coords.longitude,
        lat: position.coords.latitude,
        alt: 300,
        height: 80,
        id: "{{ uav.licence }}"
      }
      fetch("/put", {
        method: "PUT",
        body: JSON.stringify(data)
      });
      console.log(position.coords.latitude, position.coords.longitude);
    });
  }
}
</script>
