{% extends "base.html" %}

{% block main_content %}
<hr>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-6">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="title"><a href="{{ url_for('alluav') }}">Voir les drones</a></p>
        </article>
        <article class="tile is-child notification">
          <p class="title"><a href="{{ url_for('myuav') }}">Mon compte</a></p>
          <p class="subtitle">blah blah</p>
        </article>
      </div>
      <div class="tile is-parent is-8">
        <article class="tile is-child notification">
          <p class="title"><a href="{{ url_for('map') }}">Voir la carte</a></p>
          <figure class="image">
            <img src="{{ url_for('static', filename="img/map-preview.png")}}">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification">
        <div class="content">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Drones enregistrés</p>
                <p class="title">456K</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Drones actifs</p>
                <p class="title">123</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Pilotes</p>
                <p class="title">3456</p>
              </div>
            </div>
          </nav>

        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification">
      <div class="content">
        <p class="subtitle">Plus de 300 000 objets volants non identifiés</p>
        <p>L’espace aérien proche est en train de devenir, comme les routes au cours du siècle dernier, une zone de circulation massive. Il existe déjà en France près de 300000 drones, et ce nombre est en augmentation rapide. Aucun système ne permet aujourd’hui de suivre et de coordonner leurs vols alors que les risques liés à cette absence et les enjeux en termes d’aménagement du territoire ne vont cesser de s’accroître.</p>
        <p>A compter du 1er juillet 2018, les possesseurs de drones de loisir devront enregistrer leurs drones et les équiper d’un dispositif de signalisation. L’API drones tire parti de ce nouveau cadre réglementaire pour développer une infrastructure qui rende les vols plus sûrs et contribue à l’aménagement d’un territoire propice à l’utilisation des drones - pour des usages industriels, agricoles ou encore récréatifs.</p>
        <p class="subtitle">Localiser les drones pour créer des services innovants</p>
        <p>L’API drones permet de collecter et d’utiliser les données relatives à l’identité et à la localisation de ces objets volants.</p>

        <p>Les possesseurs de drones les enregistrent dans une base nationale. En vol, les systèmes de signalisation transmettent en temps réel les positions à une base de géolocalisation. Ces informations permettent aux forces de l’ordre d’être alertées lorsque des drones s’approchent de sites sensibles et d’en informer leurs possesseurs. Avec le consentement de ceux-ci, des entreprises peuvent aussi les réutiliser pour développer des services à valeur ajoutée.</p>
        <div class="content">
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock main_content %}
